@page
@model ProiectPrelucaAnca.Pages.Localitati.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Localitati</h1>

<p>
    <a asp-page="Create">Adauga o Localitate noua</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Cauta Localitate:
            <input type="text" name="SearchName" value="@Model.CurrentFilter" />
            <input type="submit" value="Cauta" class="btn btn-primary" /> |
            <a asp-page="./Index">Reseteaza</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DenumireSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Localitate[0].Denumire)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.JudetSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Localitate[0].Judet.Denumire)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Localitate) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Denumire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Judet.Denumire)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Editeaza</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Detalii</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Sterge</a>
            </td>
        </tr>
}
    </tbody>
</table>
